apiVersion: v1
kind: Service
metadata:
  name: pgadmin
  namespace: {{ pgadmin_namespace }}
spec:
  selector:
    app: pgadmin
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: {{ pgadmin_service_type }}

