apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: pgadmin
  namespace: {{ pgadmin_namespace }}
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  ingressClassName: nginx
  rules:
    - host: {{ pgadmin_hostname }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: pgadmin
                port:
                  number: 80
  # TLS: assumes secret pgadmin-tls esista o venga creato separatamente
  tls:
    - hosts:
        - {{ pgadmin_hostname }}
      secretName: pgadmin-tls

